<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
</head>
<body>
    <%- partial('header') %>
    <article>
        <h2><%= dbdata.a_title %></h2>
        <div><%= dbdata.a_content %></div>
    </article>
    <%- partial('footer') %>
</body>
</html>
