<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link media="all" rel="stylesheet" href="<%= myServer %>stylesheets/style.css" type="text/css" />
    <script src="<%= myServer %>javascripts/jquery.js" type="text/javascript"></script>
    <script src="<%= myServer %>javascripts/socket.io.js" type="text/javascript"></script>
    <script src="<%= myServer %>javascripts/chat.js" type="text/javascript"></script>
</head>
<body>
    <%- partial('header') %>
    <%- partial('nav') %>
    <div class="wrapper" id="wrapper">
        <section class="content">
            <h3>聊天窗</h3>
            <section class="chat-box">
            </section>
            <h3>输入窗口</h3>
            <section class="messagebox">
                <textarea id="message-input" rows="10" cols="30"></textarea>
                <input type="button" value="send" id="message-send"/>
            </section>
        </section>
        <%- partial('sidebar') %>
    </div>
    <%- partial('footer',{author:author,hello:'hello'}) %>
</body>
</html>
